.custom-style{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 71, 165);
    color: white;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin-bottom: inherit;
}